*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.cell{
    width: 200px; 
    height: 200px;
    font-size: 115px;  
    border: 2px solid ;
    border-bottom: 2px solid;
    border-top: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    color:whitesmoke;
}

.cell:nth-child(1),
.cell:nth-child(3){
    border-top:none;
    border-left:none;
    border-right:none;
}
.cell:nth-child(2){
    border-top:none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(7),
.cell:nth-child(9){
    border-left: none;
    border-right: none;
}

.cell:nth-child(4),
.cell:nth-child(6) {
    border-top: none;
    border-left: none;
    border-right: none;
}

#StatusText{
    color: white;
    margin: 30px 20px;
}    

#gameContainer{
    text-align: center;
    display: none;  
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    background-color: #222222;
}

#restartBtn{
    font-size: 1.2rem;
    margin: auto;

}

#celebrationGifContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  #celebrationGif {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
    animation: popIn 0.6s ease-out;
  }
  
  @keyframes popIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
