*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.cell{
    width: 200px; 
    height: 200px;
    font-size: 115px;  
    border: 2px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:0 0 20px;
    color: rgb(218, 193, 193);
    border-top: none;
    border-bottom: none;


}

#StatusText{
    color: white;
    margin: 30px 20px;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    display: none;  
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    
}

#restartBtn{
    font-size: 1.2rem;
    margin: auto;

}

#celebrationGifContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  #celebrationGif {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
    animation: popIn 0.6s ease-out;
  }
  
  @keyframes popIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  