*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.cell{
    width: 200px; 
    height: 200px;
    font-size: 115px;  
    border: 2px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:0 0 20px;
    color: rgb(218, 193, 193);
    border-top: none;
    border-bottom: none;


}

#StatusText{
    color: white;
    margin: 30px 20px;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    display: none;  
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    
}

#restartBtn{
    font-size: 1.2rem;
    margin: auto;

}

.winner {
    color: green;
    font-weight: bold;
    animation: pop 0.3s ease-in;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
